body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f6f8;
    color: #333;
}

header {
    background-color: #0f172a;
    color: white;
    padding: 30px;
    text-align: center;
}

section {
    max-width: 900px;
    margin: 30px auto;
    padding: 20px;
    background: #e0f2fe ;
    border-radius: 8px;
}

h2 {
    color: #0f172a;
    border-bottom: 2px solid #e5e7eb;
    padding-bottom: 5px;
}

ul {
    list-style-type: square;
    padding-left: 20px;
}

.project {
    margin-bottom: 15px;
}

a {
    color: #2563eb;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 15px;
    background-color: #0f172a;
    color: white;
    margin-top: 30px;
}

